.default-theme{
    --color-bg-primary: #008080;
    --color-bg-primary-light: #505f9e;
    --color-bg-accent: #FE5F55; 
    --color-bg-accent-light: #ff7167; 
    --color-bg-secondary: #ccdefd;
    --color-text-link: #278e79;
    --color-bg-compliment: #f5f5ff;
    --color-bg-default: #f5f5ff;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #008080;
    --color-text-secondary: #292c66ff;
}
